rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /licenses/{licenseId} {
      // Permite leer si el HWID está vacío o coincide con el del cliente
      allow read: if request.auth != null;
      // Permite actualizar solo para vincular el HWID si está vacío
      allow update: if request.auth != null && 
        (resource.data.hwid == "" || resource.data.hwid == request.resource.data.hwid);
    }
  }
}
